<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/root.css">
  <link rel="stylesheet" href="/css/userEmbed.css">
  <link rel="stylesheet" href="/css/status.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
  <title>Error - <%= code %></title>
  <link rel="shortcut icon" href="https://i.imgur.com/LRdzmcH.png" type="image/x-icon">
</head>
<body>
  <div class="userEmbed" id="ERROR-<%= code %>">
    <div class="userHead">
      <div class="avatarHolder">
        <img draggable="false" class="avatar" src="https://i.imgur.com/LRdzmcH.png">
        <div class="status dnd"></div>
      </div>
      <h1 class="username">Error <span class="discriminator"><%= code %> </span></h1> 
      <br>
      <div class="badges">
          <br>
      </div>
    </div>
    <div class="bio">
      <%- message %> 
    </div>
    <br><br><br>
    <a href="https://dbsl.ga/s/761891076834852884" target="_blank">
    <div class="copyright">
      <img draggable="false" src="https://cdn.discordapp.com/icons/761891076834852884/791f2fd598990561b5f3740d5a9ef1f6.webp?size=256" alt="">
      <h4>Powered by <span>DBFS</span></h4>
    </div>
    </a>
  </div>
</body>
</html>